body{
    margin: 0;          /* Sets margin to 0 */
}


ul {
    list-style-type: none;  /* removes the dots next to the list */
    margin: 0 auto;         /* remove browser default settings */
    padding: 20px 30px;     /* adds padding */
    overflow: hidden;
    background-color: #3A4455; /* changes color */

  }
  
  li {
    float: left;       /* so elements slide next to each other */
    margin: 0 auto;  /* remove browser default settings */
  }
  
  li a {
    display: block;      /* align text, change color, change font and size as well as add padding */
    color: #82B583;
    text-align: center;
    padding: 14px 230px;
    text-decoration: none;
    font-size: 40px;
    font-family: Calibri;
    font-weight: bold;
    
  }
  
  li a:hover {
    background-color: #111; /* adds hover color */
  }

  #me{
      text-align: center; /* align center */
  }

   #face{
             /* Move data into center of page and move image according to margin */
      margin-left: 870px;
      margin-top: 100px;
  } 

  #about{
      text-align: center;          /* Align text to center,change font size,and move the words using margin */
      text-align: justify;
      font-size: 20px;      
      margin-top: 0px;
      margin-left: 720px;
      margin-right: 700px;
      margin-bottom: 100px;
  }

  .flex-container{            /* building flex and its structure */
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #04304A;   
  }
.flex-item{                  /* Flex item properties */
    text-align: center;
    background-color: #04304A;
    
    color: white;
}

#welcome{                  /*  Set margin to 0 to reset browser settings */
    margin-top: 0;
}

#line{                      /* move line and change its color */
    margin-left: 720px;
    color: white;
}

#background{
  background-color: #04304A; /* change background color */
}



*{                              /* reset browser settings */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .flex-container {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

#nameform{
  color: black;            /* change form color and background color */
  background-color: white;
  
}


#email{
  background-color: white;    /* change form color and background color */
  color: #111;
  
}

.Contact{                     /* align text and color while adjusting position using margin for text */
  color:#82B583;
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 10px;
}
.Enquiry{                 /* align text and color while adjusting position using margin for text */
  color: white;
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}

#emailme{            /* edit label */
  color: white;
  margin-bottom: 50px;
}



.content {
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

input[type="text"]{            /* change margin,width and make the form side by side */
  width: 150px;
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 20px;
}

#enquiry1{
  background-color: white;
  color: black;                   /* edit label for form */
  width: 500px;
  height: 100px;
  text-align: left;
}

#emailme{
  text-align: center;           /* edit label for form */
  margin-top: 350px;
  font-size: 30px;
}

#python{
  color: #82B583;              /* change color,font and size and align text to the center */
  text-align: center;               
  font-family: Calibri;
  font-size: 50px;
  
}

.text{
  color: #82B583;                    /* change color,font and size and align text to the center */
  font-family: Calibri;
  font-size: 50px;
  margin-left: 100px;
  
}

#text2{
  color: #82B583;                      /* change color,font and size and align text to the center */
  font-family: Calibri;
  font-size: 50px;
  margin-left: 100px;
  margin-top: 700px;
}

#text3{
  color: #82B583;                 /* change color,font and size and align text to the center */
  font-family: Calibri;
  font-size: 50px;
  text-align: center;
  align-content: center;
  ;
}

#gameplay{
  float: right;                 /* edit image positioning */
  margin-right: 300px;
  
}

#if_else{                  /* edit image positioning */
  margin-top: 100px;
}

